import(methods)
import(simpleaffy)

importFrom("graphics", "plot", "smoothScatter")

exportClasses("YAQCStats")
exportMethods("avns",
              "bioCalls",
              "gcosProbes",
              "moreSpikeInProbes",
              "isLog",
              "arrays",
              "plot",
              "show",
              "yaqc",
              "merge",
              "summary")

export(getSpikeProbes,
       getBioProbes,
       getRatioProbes,
       getQCRatios,
       getAllInt,
       getOutliers,
       yaqc.plot,
       reprodPlot)
