##importFrom("graphics", "plot", "smoothScatter")

exportClasses("YAQCStats",
              "YaqcControlProbes",
              "YaqcBioProbes",
              "YaqcSpkProbes",
              "YaqcDegProbes")

exportMethods("avns",
              "bioCalls",
              "gcosProbes",
              "moreSpikeInProbes",
              "isLog",
              "arrays",
              "plot",
              "show",
              "yaqc",
              "merge",
              "summary",
              "objectVersion")


exportMethods("getYaqcControlProbes",
              "info",
              "info<-",
              "bio",
              "spk",
              "deg")

export(getSpikeProbes,
       getBioProbes,
       getRatioProbes,
       getQCRatios,
       getAllInt,
       probeSelectionInterface,
       reprodPlot,
       getOutliers)
